In [3]:
import sqlite3 
connection = sqlite3.connect('book.db')

In [4]:
import pandas as pd 
pd.options.display.max_columns = 10 
pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])

DatabaseError: Execution failed on sql 'SELECT * FROM authors': file is not a database

In [ ]:
pd.read_sql('SELECT * FROM titles', connection)

In [ ]:
df = pd.read_sql('SELECT * FROM author_ISBN', connection)
df.head()

In [ ]:
pd.read_sql('SELECT first, last FROM authors', connection)

In [ ]:
pd.read_sql("""SELECT title, edition, copyright
                FROM titles
                WHERE copyright > '2016'""", connection)

In [ ]:
pd.read_sql("""SELECT id, first, last
                FROM authors
                WHERE last LIKE 'D%'""", 
                connection, index_col=['id'])

In [ ]:
pd.read_sql("""SELECT id, first, last
                FROM authors
                WHERE first LIKE 'b%'""", 
                connection, index_col=['id'])

In [ ]:
pd.read_sql('SELECT title FROM titles Order BY title ASC', 
            connection)

In [ ]:
pd.read_sql("""SELECT id, first, last 
                FROM authors
                ORDER BY last, first""", 
            connection, index_col=['id']

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright
                FROM titles
                WHERE title LIKE '%How to Program'
                ORDER BY title""", connection)

In [ ]:
pd.read_sql("""SELECT first, last, isbn 
                FROM authors
                INNER JOIN author_ISBN
                    ON authors.id = author_ISBN.id
                ORDER BY last, first""", connection).head()

In [5]:
cursor = connection.cursor()
cursor = cusor.execute("""INSERT INTO authors(first, last)
                            VALUES ('Sue', 'Red')""")

NameError: name 'cusor' is not defined

In [ ]:
pd.read_sql('SELECT is, first, last FROM authors', 
            connection, index_col=['id'])

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last='Black'
                            WHERE last='Red' AND first='Sue'""")

In [ ]:
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', 
            connection, index_col=['id'])

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', 
            connection, index_col=['id'])