In [11]:
import sqlite3

In [12]:
connection = sqlite3.connect('book.db')

In [13]:
import pandas as pd

In [14]:
pd.options.display.max_columns = 10

In [15]:
pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors

In [ ]:
pd.read_sql('SELECT * FROM titles', connection)

:

In [ ]:
df = pd.read_sql('SELECT * FROM author_ISBN', connection)
df.head()

:

In [ ]:
pd.read_sql('SELECT first, last FROM authors', connection)

: